# Xcode
DerivedData/
build/
*.xcuserstate
xcuserdata/
*.moved-aside
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3

# Swift Package Manager
.build/
Packages/
Package.resolved

# macOS
.DS_Store

# Secrets
*.env
.env
